<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="RestEndpoint" value="https://xxxx.service-now.com/api/now/table/" />
    <add key="RestUser" value="xxxxx" />
    <add key="RestPwd" value="xxxxx" />
    <add key="RestContentType" value="application/json" />
    <add key="RestTimeout" value="60" />
    <add key="RestParameters" value="&amp;sysparm_display_value=all&amp;sysparm_exclude_reference_link=true" />
    <add key="WriteType" value="SQL" />
    <add key="ConnectionStringBD" value="user id=xxx;password=xxx;server=xxxx;database=xxx;connection timeout=120;Integrated Security=false;" />
    <add key="Schema" value="SNOWRESTful4DPMP.schema" />
  </appSettings>
</configuration>